<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <div class="max-w-2xl mx-auto">
    <div class="card">
      <header>
        <h2>New dashboard</h2>
        <p>Fill in the form below to create a new dashboard.</p>
      </header>
      <section>
        <%= render "form", dashboard: @dashboard %>
      </section>
    </div>

    <div class="mt-6">
      <%= link_to "Back to dashboards", dashboards_path, class: "btn-outline", data: { turbo_action: "advance" } %>
    </div>
  </div>
<% end %>