<div id="<%= dom_id energy_type %>">
  <div>
    <strong>Name:</strong>
    <%= energy_type.name %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= energy_type.unit %>
  </div>

  <div>
    <strong>User:</strong>
    <%= energy_type.user_id %>
  </div>

</div>
