<div class="flex mt-10 flex-1 flex-col items-center justify-center gap-6">
  <header class="flex max-w-sm flex-col items-center gap-2 text-center">
    <div class="mb-2 bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 10.5 8 13l2 2.5" /><path d="m14 10.5 2 2.5-2 2.5" /><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2z" /></svg>
    </div>
    <h3 class="text-lg font-medium tracking-tight">No <%= resource_name %> yet</h3>
    <p class="text-muted-foreground [&>a:hover]:text-primary text-sm/relaxed [&>a]:underline [&>a]:underline-offset-4">
      Get started by creating your first <%= resource_name.singularize %>.
    </p>
  </header>
  <section class="flex w-full max-w-sm flex-col items-center gap-4 text-sm text-balance">
    <div class="flex gap-2">
      <%= link_to "New #{resource_name.singularize}", new_path, class: "btn", data: { turbo_action: "advance" } %>
    </div>
  </section>
</div>
