<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <div class="max-w-md mx-auto">
    <div class="card">
      <header>
        <h2>Editing consumption</h2>
        <p>Update the form below to modify this consumption.</p>
      </header>
      <section>
        <%= render "form", consumption: @consumption %>
      </section>
    </div>
  </div>
<% end %>